#panorama {
	width: 100%;
	height: 300px;
	display: inline-block;
}

.mapContainer {
	position: relative;
}

.mapIcons {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.marker {
	stroke: black;
	stroke-width: 1;
	fill: grey;
}
.marker.markerDown {
	display: none;
}
.marker.markerRed { /* In Firefox, Css can't change the r tag of circles, which is why it wasn't working, so I have to change it in javascript */
	fill: red;
}
.marker.markerGrey {
	fill: grey;
}

.marker.markerGrey.markerHover {
	fill: #B0B0B0
}

#changeFloorBtn {
	display: block;
	margin-left: auto;
	margin-right: auto;

	font-size: 20px;
	padding: 5px 10px;
	border-style: solid;
	background-color: #EEE;
}

#changeFloorBtn:hover {
	background-color: #BBB;
}

#floorDisplay {
	font-weight: bold;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pnlm-load-box {
	z-index:-999;
	opacity: 0;
}