body {
	margin: 0;
	background-color: #eeeeee;
}

* {
	font-family: Arial;
	font-weight: normal;
}

.page {
	max-width: 60em;
	margin: 0 auto;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

/* NAVBAR SHIT */
	/* Navbar container */
	.navbar {
		display: flex;
		overflow: hidden;
		background-color: cyan;
		font-family: Arial;
		text-align: center;
	}
	
	.navbar a:not(.logo-container, .dropbtn a) {
		padding: 15px;
	}

	/* Links inside the navbar */
	.navbar a:not(.logo-container) {
		font-size: 16px;
		text-align: center;
		text-decoration: none;
		color: black;
	}
	
	/* Add a red background color to navbar links on hover */
	.navbar a:hover, .dropdown:hover .dropbtn {
		background-color: #00CCCC;
	}
	
	.logo-container {
		height: 48.4px;
	}
	.logo {
		padding: 4px;
		height: 40.4px;
	}

	.dropbtn {
		padding: 15px;
	}

	/* Dropdown content (hidden by default) */
	.dropCnt {
		display: none;
		flex-direction: column;
		position: absolute;
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	/* Add a grey background color to dropdown links on hover */
	.dropCnt a:hover {
		background-color: #DDDDDD;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropCnt {
		display: flex;
	}
/* END NAVBAR SHIT */

.content {
	padding: 10px;
}

.content * {
	text-align: center;
}

.content h1 {
	font-size: 32px;
	margin: 0;
}

.content h2 {
	font-size: 26px;
	margin: 0;
}

.content p {
	font-size: 16px;
}
