body {
	margin: 0;
	background-color: #EEE;
}

* {
	font-family: Arial;
}

.page {
	max-width: 70em;
	margin: 0 auto;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
}

/* NAVBAR SHIT */
.navbar {
	background-color: cyan;
	display: inline-block;
	width: 100%;
}

.navItem {
	text-decoration: none;
	color: black;
	font-size: 24px;
	padding: 10px 15px;
	text-align: center;
	float: left;
}
.navItem:hover {
	background-color: #0CC;
}

.logo {
	padding: 3px;
}
.logo img { /* Height of the logo image */
	height: 36px;
	padding: 0px;
}
.dropdown {
	position: relative;
	float: left;
}
.dropCnt {
	display: none;
	position: absolute;
	top: 100%;

	min-width: 200px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropCnt a {
	display: block;

	text-align: left;
	font-size: 16px;
	padding: 10px 15px;
	text-decoration: none;
	color: black;
}
.dropCnt a:hover {
	background-color: #DDD;
}

.dropdown:hover .dropCnt {
	display: block;
}

.darkmode { /* Darkmode button container */
	float: right;
	padding: 4px;
}
.darkmode #darkmodeFill { /* Darkmode normal */
	fill: cyan;
}
.darkmode svg:hover #darkmodeFill { /* Darkmode hover */
	fill: #0CC;
}
/* END NAVBAR SHIT */

.content {
	padding: 10px 50px;
}

.content * {
	text-align: center;
}

.content h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

.content h1 {
	font-size: 32px;
}

.content h2 {
	font-size: 26px;
}

.content h3 {
	font-size: 19px;
}

.content p {
	font-size: 16px;
	margin-top: 5px;
}
.content .paragraph {
	margin-bottom: 50px;
}
.content .miniPara {
	margin-bottom: 20px;
}
