#panorama {
	width: 100%;
	height: 300px;
	display: inline-block;
}

.mapContainer {
	position: relative;
}

.mapIcons {
	width: 100%;
	height: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
}

.marker {
	stroke: black;
	stroke-width: 1;
	fill: grey;
}
.marker.markerRed {
	r: 3;
	fill: red;
}
.marker:not(.markerRed) {
	r: 2;
	fill: grey;
}

.pnlm-load-box {
	z-index:-999;
	opacity: 0;
}